# env
.DS_Store
.tmp
.nx
.idea

# npm 
node_modules

# ts
tsconfig.tsbuildinfo

# test
coverage

# analyzer
analyzer.html

# Coverage directory used by tools like istanbul
coverage

.tmp
_docpress

tsconfig.tsbuildinfo

# Visual Studio Code configs
.vscode/

# output dir
temp
dist
lib

build
.nx
