[submodule "app/vite-react-boilerplate"]
	path = app/vite-react-boilerplate
	url = git@github.com:iFTY-R/vite-react-boilerplate.git
	branch = ifty_cloud
[submodule "app/vitesse"]
	path = app/vitesse
	url = git@github.com:iFTY-R/vitesse.git
	branch = ifty_cloud
[submodule "app/vitesse-nuxt"]
	path = app/vitesse-nuxt
	url = git@github.com:iFTY-R/vitesse-nuxt.git
	branch = ifty_cloud
